a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp22fd5893{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:hover{ color:#FFFFFF; text-decoration: none} 
#button_5939e075 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_5939e075:hover { background-color:#FEE556;  }
#button_5939e075:hover span { color:#444444; }
#button_6d8acdac { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_6d8acdac:hover { background-color:#FEE556;  }
#button_6d8acdac:hover span { color:#444444; }
#button_328c85df { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_328c85df:hover { background-color:#FEE556;  }
#button_328c85df:hover span { color:#444444; }
#button_5e7a25c1 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_5e7a25c1:hover { background-color:#FEE556;  }
#button_5e7a25c1:hover span { color:#444444; }
#button_1b956070 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_1b956070:hover { background-color:#FEE556;  }
#button_1b956070:hover span { color:#444444; }
#button_6bc99ec5 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_6bc99ec5:hover { background-color:#FEE556;  }
#button_6bc99ec5:hover span { color:#444444; }
#button_420ba6de { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_420ba6de:hover { background-color:#FEE556;  }
#button_420ba6de:hover span { color:#444444; }
#button_65c1df42 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_65c1df42:hover { background-color:#FEE556;  }
#button_65c1df42:hover span { color:#444444; }
#button_4bf64079 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_4bf64079:hover { background-color:#FEE556;  }
#button_4bf64079:hover span { color:#444444; }
#button_601aa4ff { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_601aa4ff:hover { background-color:#FEE556;  }
#button_601aa4ff:hover span { color:#444444; }
#button_3ed1d252 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_3ed1d252:hover { background-color:#FEE556;  }
#button_3ed1d252:hover span { color:#444444; }
#button_70a63542 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_70a63542:hover { background-color:#FEE556;  }
#button_70a63542:hover span { color:#444444; }
#button_27e5a43a { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_27e5a43a:hover { background-color:#FEE556;  }
#button_27e5a43a:hover span { color:#444444; }
#button_1d5685db { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_1d5685db:hover { background-color:#FEE556;  }
#button_1d5685db:hover span { color:#444444; }
#button_3f4b6d9 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_3f4b6d9:hover { background-color:#FEE556;  }
#button_3f4b6d9:hover span { color:#444444; }
#button_5e7e8ced { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_5e7e8ced:hover { background-color:#FEE556;  }
#button_5e7e8ced:hover span { color:#444444; }
#button_67c656a6 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_67c656a6:hover { background-color:#FEE556;  }
#button_67c656a6:hover span { color:#444444; }
#button_76406047 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_76406047:hover { background-color:#FEE556;  }
#button_76406047:hover span { color:#444444; }
#button_468034bf { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_468034bf:hover { background-color:#FEE556;  }
#button_468034bf:hover span { color:#444444; }
#button_3984ab6a { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_3984ab6a:hover { background-color:#FEE556;  }
#button_3984ab6a:hover span { color:#444444; }
#button_2e62d96 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_2e62d96:hover { background-color:#FEE556;  }
#button_2e62d96:hover span { color:#444444; }
#button_6b7265a9 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_6b7265a9:hover { background-color:#FEE556;  }
#button_6b7265a9:hover span { color:#444444; }
#button_6f37ed78 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_6f37ed78:hover { background-color:#FEE556;  }
#button_6f37ed78:hover span { color:#444444; }
#button_775da27f { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_775da27f:hover { background-color:#FEE556;  }
#button_775da27f:hover span { color:#444444; }
#button_6b684c06 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_6b684c06:hover { background-color:#FEE556;  }
#button_6b684c06:hover span { color:#444444; }
#button_39dc1fcb { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; float:left; margin:1px; width:150px; height:50px; max-width:40%; background-color:#FFFFFF;   display: none; }
#button_39dc1fcb:hover { background-color:#2C2825;  }
#button_39dc1fcb:hover span { color:#FFFFFF; }
#menu_5f8bee95 a { text-decoration: none; }
#menu_5f8bee95_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 15px; padding-bottom: 15px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5f8bee95_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_5f8bee95_entry { padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; }
#menu_5f8bee95_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5f8bee95_entry:hover span { color:#FFFFFF !important; }
		.menu_5f8bee95_mainMenuEntry { text-align: center; }
		.menu_5f8bee95_mainMenuEntry:hover {	background-color:#2C2825; }
		.menu_5f8bee95_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5f8bee95 .mobileEntry { display: none; } 
		#menu_5f8bee95 .normalEntry { display: block; } 
		#menu_5f8bee95_menualignmentwrapper{ width:950px; left: calc(50% - 475px);  } 
		@media only screen and (max-width:1000px) { 
			#menu_5f8bee95 .mobileEntry { display: block; } 
			#menu_5f8bee95 .normalEntry { display: none; } 
			#menu_5f8bee95_menualignmentwrapper { width:47px; left: calc(50% - 23px);  } 
		}
body { background-color:#ECECEC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_2b1a1ed5 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#2C2825;  }
#container_2b1a1ed5_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle3 { text-align:left; }
#container_4746e9ac { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  }
#menu_5f8bee95 { vertical-align: top; position:relative; display: inline-block; width:75%; height:50px; max-width:1440px; text-align:left; background-color:#FFFFFF;  }
#menu_5f8bee95_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:47px; height:50px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:202px; height:50px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle6 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  white-space: nowrap; }
.menustyle3 { position:absolute; width:151px; height:50px; left:202px;  }
.menustyle4 { position:absolute; width:225px; height:50px; left:353px;  }
.menustyle5 { position:absolute; width:134px; height:50px; left:578px;  }
.menustyle6 { position:absolute; width:83px; height:50px; left:712px;  }
.menustyle7 { position:absolute; width:155px; height:50px; left:795px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_495e96cc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background-color:#2C2825;  }
#container_495e96cc_padding { margin: 3px; display: block;  }
#container_7a5ef65 { vertical-align: top; position:relative; display: inline-block; width:90%; background:none;  border-top: 12px solid transparent; }
#container_7a5ef65_padding { margin: 10px; display: block;  }
#placeh_36035886 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px;  }
#container_35ba7929 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_35ba7929_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_749be54d { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_749be54d_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:20pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle12 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic;  }
#container_629472c { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_629472c_padding { margin: 10px; display: block;  }
#container_4d455d72 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4d455d72_padding { margin: 10px; display: block;  }
#container_7ac86827 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_7ac86827_padding { margin: 10px; display: block;  }
#container_50de1384 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_50de1384_padding { margin: 10px; display: block;  }
#container_716b559c { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_716b559c_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
#container_1281ecf4 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_1281ecf4_padding { margin: 10px; display: block;  }
#container_6dc55ba2 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_6dc55ba2_padding { margin: 10px; display: block;  }
#container_2d29761 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_2d29761_padding { margin: 10px; display: block;  }
#container_a3159ca { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_a3159ca_padding { margin: 10px; display: block;  }
#container_58559391 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_58559391_padding { margin: 10px; display: block;  }
#container_1b050026 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_1b050026_padding { margin: 10px; display: block;  }
#container_77af08f6 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_77af08f6_padding { margin: 10px; display: block;  }
#container_6219a5ab { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_6219a5ab_padding { margin: 10px; display: block;  }
#container_45c7b951 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_45c7b951_padding { margin: 10px; display: block;  }
#container_4be69b66 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4be69b66_padding { margin: 10px; display: block;  }
#container_13a168f5 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_13a168f5_padding { margin: 10px; display: block;  }
#container_61fda8ec { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_61fda8ec_padding { margin: 10px; display: block;  }
#container_2205af59 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_2205af59_padding { margin: 10px; display: block;  }
#container_c142888 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#2C2825;  }
@media only screen and (max-width: 1000px)
{
		#button_39dc1fcb { display:inline-block;  }
		#menu_5f8bee95 { display:none; }
}
@media only screen and (max-width: 550px)
{
		#container_2b1a1ed5 * span { font-size:10pt;  }
		#button_39dc1fcb * span { font-size:12pt;  }
}
@media only screen and (max-width: 500px)
{
		#menu_5f8bee95 * span { font-size:12pt;  }
}
@media only screen and (max-width: 550px)
{
		#container_749be54d * span { font-size:12pt;  }
		#container_629472c * span { font-size:12pt;  }
		#container_4d455d72 * span { font-size:12pt;  }
		#container_7ac86827 * span { font-size:12pt;  }
		#container_50de1384 * span { font-size:12pt;  }
		#container_716b559c * span { font-size:12pt;  }
		#container_1281ecf4 * span { font-size:12pt;  }
		#container_6dc55ba2 * span { font-size:12pt;  }
		#container_2d29761 * span { font-size:12pt;  }
		#container_a3159ca * span { font-size:12pt;  }
		#container_58559391 * span { font-size:12pt;  }
		#container_1b050026 * span { font-size:12pt;  }
		#container_77af08f6 * span { font-size:12pt;  }
		#container_6219a5ab * span { font-size:12pt;  }
		#container_45c7b951 * span { font-size:12pt;  }
		#container_4be69b66 * span { font-size:12pt;  }
		#container_13a168f5 * span { font-size:12pt;  }
		#container_61fda8ec * span { font-size:12pt;  }
		#container_2205af59 * span { font-size:12pt;  }
}
