a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp22fd5893{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:hover{ color:#FFFFFF; text-decoration: none} 
#button_80c8255 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_80c8255:hover { background-color:#FEE556;  }
#button_80c8255:hover span { color:#444444; }
#button_249f2627 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_249f2627:hover { background-color:#FEE556;  }
#button_249f2627:hover span { color:#444444; }
#button_24d71f8 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_24d71f8:hover { background-color:#FEE556;  }
#button_24d71f8:hover span { color:#444444; }
#button_5290aaf6 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_5290aaf6:hover { background-color:#FEE556;  }
#button_5290aaf6:hover span { color:#444444; }
#button_377f9bd { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_377f9bd:hover { background-color:#FEE556;  }
#button_377f9bd:hover span { color:#444444; }
#button_7519d2a2 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_7519d2a2:hover { background-color:#FEE556;  }
#button_7519d2a2:hover span { color:#444444; }
#button_5f5ee9dd { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_5f5ee9dd:hover { background-color:#FEE556;  }
#button_5f5ee9dd:hover span { color:#444444; }
#button_68e3b2c9 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_68e3b2c9:hover { background-color:#FEE556;  }
#button_68e3b2c9:hover span { color:#444444; }
#button_12b12d9a { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340; flex: 0 0 auto;  }
#button_12b12d9a:hover { background-color:#FEE556;  }
#button_12b12d9a:hover span { color:#444444; }
#button_76651f5c { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340; flex: 0 0 auto;  }
#button_76651f5c:hover { background-color:#FEE556;  }
#button_76651f5c:hover span { color:#444444; }
#button_430e85af { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340; flex: 0 0 auto;  }
#button_430e85af:hover { background-color:#FEE556;  }
#button_430e85af:hover span { color:#444444; }
#button_1510df6f { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_1510df6f:hover { background-color:#FEE556;  }
#button_1510df6f:hover span { color:#444444; }
#button_62438d26 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_62438d26:hover { background-color:#FEE556;  }
#button_62438d26:hover span { color:#444444; }
#button_2268ee1a { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_2268ee1a:hover { background-color:#FEE556;  }
#button_2268ee1a:hover span { color:#444444; }
#button_65901f0d { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_65901f0d:hover { background-color:#FEE556;  }
#button_65901f0d:hover span { color:#444444; }
#button_11dfbdf1 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_11dfbdf1:hover { background-color:#FEE556;  }
#button_11dfbdf1:hover span { color:#444444; }
#button_504a0431 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_504a0431:hover { background-color:#FEE556;  }
#button_504a0431:hover span { color:#444444; }
#button_38364aea { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_38364aea:hover { background-color:#FEE556;  }
#button_38364aea:hover span { color:#444444; }
#button_7a17763d { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_7a17763d:hover { background-color:#FEE556;  }
#button_7a17763d:hover span { color:#444444; }
#button_310b3002 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_310b3002:hover { background-color:#FEE556;  }
#button_310b3002:hover span { color:#444444; }
#button_2e9b964e { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_2e9b964e:hover { background-color:#FEE556;  }
#button_2e9b964e:hover span { color:#444444; }
#button_1f1cb559 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_1f1cb559:hover { background-color:#FEE556;  }
#button_1f1cb559:hover span { color:#444444; }
#button_57ab293b { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_57ab293b:hover { background-color:#FEE556;  }
#button_57ab293b:hover span { color:#444444; }
#button_5d43ca7b { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_5d43ca7b:hover { background-color:#FEE556;  }
#button_5d43ca7b:hover span { color:#444444; }
#button_1feff82f { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_1feff82f:hover { background-color:#FEE556;  }
#button_1feff82f:hover span { color:#444444; }
#button_3b6450bc { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_3b6450bc:hover { background-color:#FEE556;  }
#button_3b6450bc:hover span { color:#444444; }
#button_7a7cb015 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_7a7cb015:hover { background-color:#FEE556;  }
#button_7a7cb015:hover span { color:#444444; }
#button_42b57f3b { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_42b57f3b:hover { background-color:#FEE556;  }
#button_42b57f3b:hover span { color:#444444; }
#button_2a26ce4c { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_2a26ce4c:hover { background-color:#FEE556;  }
#button_2a26ce4c:hover span { color:#444444; }
#button_45ffab5e { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_45ffab5e:hover { background-color:#FEE556;  }
#button_45ffab5e:hover span { color:#444444; }
#button_39dc1fcb { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; float:left; margin:1px; width:150px; height:50px; max-width:40%; background-color:#FFFFFF;   display: none; }
#button_39dc1fcb:hover { background-color:#2C2825;  }
#button_39dc1fcb:hover span { color:#FFFFFF; }
#menu_5f8bee95 a { text-decoration: none; }
#menu_5f8bee95_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 15px; padding-bottom: 15px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5f8bee95_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_5f8bee95_entry { padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; }
#menu_5f8bee95_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5f8bee95_entry:hover span { color:#FFFFFF !important; }
		.menu_5f8bee95_mainMenuEntry { text-align: center; }
		.menu_5f8bee95_mainMenuEntry:hover {	background-color:#2C2825; }
		.menu_5f8bee95_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5f8bee95 .mobileEntry { display: none; } 
		#menu_5f8bee95 .normalEntry { display: block; } 
		#menu_5f8bee95_menualignmentwrapper{ width:950px; left: calc(50% - 475px);  } 
		@media only screen and (max-width:1000px) { 
			#menu_5f8bee95 .mobileEntry { display: block; } 
			#menu_5f8bee95 .normalEntry { display: none; } 
			#menu_5f8bee95_menualignmentwrapper { width:47px; left: calc(50% - 23px);  } 
		}
body { background-color:#ECECEC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_2b1a1ed5 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#2C2825;  }
#container_2b1a1ed5_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle3 { text-align:left; }
#container_4746e9ac { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  }
#menu_5f8bee95 { vertical-align: top; position:relative; display: inline-block; width:75%; height:50px; max-width:1440px; text-align:left; background-color:#FFFFFF;  }
#menu_5f8bee95_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:47px; height:50px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:202px; height:50px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle6 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  white-space: nowrap; }
.menustyle3 { position:absolute; width:151px; height:50px; left:202px;  }
.menustyle4 { position:absolute; width:225px; height:50px; left:353px;  }
.menustyle5 { position:absolute; width:134px; height:50px; left:578px;  }
.menustyle6 { position:absolute; width:83px; height:50px; left:712px;  }
.menustyle7 { position:absolute; width:155px; height:50px; left:795px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_495e96cc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background-color:#2C2825;  }
#container_495e96cc_padding { margin: 3px; display: block;  }
#container_7a5ef65 { vertical-align: top; position:relative; display: inline-block; width:90%; background:none;  border-top: 12px solid transparent; }
#container_7a5ef65_padding { margin: 10px; display: block;  }
#placeh_36035886 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px;  }
#container_59b95f62 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_59b95f62_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_74af1da0 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_74af1da0_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic;  }
#container_64df250d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:193px; background-color:#FFFFFF;  }
#container_64df250d_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:20pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle12 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
#container_7874209d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:193px; background-color:#FFFFFF;  }
#container_7874209d_padding { margin: 10px; display: block;  }
#container_19559da3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:193px; background-color:#FFFFFF;  }
#container_19559da3_padding { margin: 10px; display: block;  }
#container_b311b30 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:193px; background-color:#FFFFFF;  }
#container_b311b30_padding { margin: 10px; display: block;  }
#container_6485017a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:193px; background-color:#FFFFFF;  }
#container_6485017a_padding { margin: 10px; display: block;  }
#container_20c0a65f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:193px; background-color:#FFFFFF;  }
#container_20c0a65f_padding { margin: 10px; display: block;  }
#container_7b9e1d04 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:193px; background-color:#FFFFFF;  }
#container_7b9e1d04_padding { margin: 10px; display: block;  }
#container_7b26615d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:193px; background-color:#FFFFFF;  }
#container_7b26615d_padding { margin: 10px; display: block;  }
#container_4f2cba3f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:193px; background-color:#FFFFFF;  }
#container_4f2cba3f_padding { margin: 10px; display: block;  }
#container_dfedc4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:193px; background-color:#FFFFFF;  }
#container_dfedc4_padding { margin: 10px; display: block;  }
#container_774f966b { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_774f966b_padding { margin: 10px; display: block;  }
#container_1d76d555 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_1d76d555_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic;  }
#container_50b82ec2 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_50b82ec2_padding { margin: 10px; display: block;  }
#container_1659716c { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_1659716c_padding { margin: 10px; display: block;  }
#container_3fc84624 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_3fc84624_padding { margin: 10px; display: block;  }
#container_466cdbc4 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_466cdbc4_padding { margin: 10px; display: block;  }
#container_4cc6288 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4cc6288_padding { margin: 10px; display: block;  }
#container_903db13 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_903db13_padding { margin: 10px; display: block;  }
#container_58804390 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_58804390_padding { margin: 10px; display: block;  }
#container_525dcd98 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_525dcd98_padding { margin: 10px; display: block;  }
#container_c35c234 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_c35c234_padding { margin: 10px; display: block;  }
#container_2bcb75b4 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_2bcb75b4_padding { margin: 10px; display: block;  }
#container_4df61a1f { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4df61a1f_padding { margin: 10px; display: block;  }
#container_5a8040ab { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_5a8040ab_padding { margin: 10px; display: block;  }
#container_15c124b3 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_15c124b3_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-style:italic;  }
#container_647be58d { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_647be58d_padding { margin: 10px; display: block;  }
#container_2a39fe9d { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_2a39fe9d_padding { margin: 10px; display: block;  }
#container_7475d820 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_7475d820_padding { margin: 10px; display: block;  }
#container_4ce337c3 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4ce337c3_padding { margin: 10px; display: block;  }
#container_65852279 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_65852279_padding { margin: 10px; display: block;  }
#container_47758b79 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#2C2825;  }
@media only screen and (max-width: 1000px)
{
		#button_39dc1fcb { display:inline-block;  }
		#menu_5f8bee95 { display:none; }
}
@media only screen and (max-width: 550px)
{
		#container_2b1a1ed5 * span { font-size:10pt;  }
		#button_39dc1fcb * span { font-size:12pt;  }
}
@media only screen and (max-width: 500px)
{
		#menu_5f8bee95 * span { font-size:12pt;  }
}
@media only screen and (max-width: 550px)
{
		#container_64df250d * span { font-size:12pt;  }
		#container_7874209d * span { font-size:12pt;  }
		#container_19559da3 * span { font-size:12pt;  }
		#container_b311b30 * span { font-size:12pt;  }
		#container_6485017a * span { font-size:12pt;  }
		#container_20c0a65f * span { font-size:12pt;  }
		#container_7b9e1d04 * span { font-size:12pt;  }
		#container_7b26615d * span { font-size:12pt;  }
		#container_4f2cba3f * span { font-size:12pt;  }
		#container_dfedc4 * span { font-size:12pt;  }
		#container_774f966b * span { font-size:12pt;  }
		#container_1d76d555 * span { font-size:12pt;  }
		#container_50b82ec2 * span { font-size:12pt;  }
		#container_1659716c * span { font-size:12pt;  }
		#container_3fc84624 * span { font-size:12pt;  }
		#container_466cdbc4 * span { font-size:12pt;  }
		#container_4cc6288 * span { font-size:12pt;  }
		#container_903db13 * span { font-size:12pt;  }
		#container_58804390 * span { font-size:12pt;  }
		#container_525dcd98 * span { font-size:12pt;  }
		#container_c35c234 * span { font-size:12pt;  }
		#container_2bcb75b4 * span { font-size:12pt;  }
		#container_4df61a1f * span { font-size:12pt;  }
		#container_5a8040ab * span { font-size:12pt;  }
		#container_15c124b3 * span { font-size:12pt;  }
		#container_647be58d * span { font-size:12pt;  }
		#container_2a39fe9d * span { font-size:12pt;  }
		#container_7475d820 * span { font-size:12pt;  }
		#container_4ce337c3 * span { font-size:12pt;  }
		#container_65852279 * span { font-size:12pt;  }
}
