a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp22fd5893{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:hover{ color:#FFFFFF; text-decoration: none} 
#button_186163be { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_186163be:hover { background-color:#FEE556;  }
#button_186163be:hover span { color:#444444; }
#button_732dc916 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_732dc916:hover { background-color:#FEE556;  }
#button_732dc916:hover span { color:#444444; }
#button_1c81e407 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_1c81e407:hover { background-color:#FEE556;  }
#button_1c81e407:hover span { color:#444444; }
#button_336d3aee { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_336d3aee:hover { background-color:#FEE556;  }
#button_336d3aee:hover span { color:#444444; }
#button_39dc1fcb { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; float:left; margin:1px; width:150px; height:50px; max-width:40%; background-color:#FFFFFF;   display: none; }
#button_39dc1fcb:hover { background-color:#2C2825;  }
#button_39dc1fcb:hover span { color:#FFFFFF; }
#menu_5f8bee95 a { text-decoration: none; }
#menu_5f8bee95_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 15px; padding-bottom: 15px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5f8bee95_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_5f8bee95_entry { padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; }
#menu_5f8bee95_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5f8bee95_entry:hover span { color:#FFFFFF !important; }
		.menu_5f8bee95_mainMenuEntry { text-align: center; }
		.menu_5f8bee95_mainMenuEntry:hover {	background-color:#2C2825; }
		.menu_5f8bee95_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5f8bee95 .mobileEntry { display: none; } 
		#menu_5f8bee95 .normalEntry { display: block; } 
		#menu_5f8bee95_menualignmentwrapper{ width:950px; left: calc(50% - 475px);  } 
		@media only screen and (max-width:1000px) { 
			#menu_5f8bee95 .mobileEntry { display: block; } 
			#menu_5f8bee95 .normalEntry { display: none; } 
			#menu_5f8bee95_menualignmentwrapper { width:47px; left: calc(50% - 23px);  } 
		}
body { background-color:#ECECEC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_2b1a1ed5 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#2C2825;  }
#container_2b1a1ed5_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle3 { text-align:left; }
#container_4746e9ac { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  }
#menu_5f8bee95 { vertical-align: top; position:relative; display: inline-block; width:75%; height:50px; max-width:1440px; text-align:left; background-color:#FFFFFF;  }
#menu_5f8bee95_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:47px; height:50px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:202px; height:50px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle6 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  white-space: nowrap; }
.menustyle3 { position:absolute; width:151px; height:50px; left:202px;  }
.menustyle4 { position:absolute; width:225px; height:50px; left:353px;  }
.menustyle5 { position:absolute; width:134px; height:50px; left:578px;  }
.menustyle6 { position:absolute; width:83px; height:50px; left:712px;  }
.menustyle7 { position:absolute; width:155px; height:50px; left:795px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_495e96cc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background-color:#2C2825;  }
#container_495e96cc_padding { margin: 3px; display: block;  }
#container_7a5ef65 { vertical-align: top; position:relative; display: inline-block; width:90%; background:none;  border-top: 12px solid transparent; }
#container_7a5ef65_padding { margin: 10px; display: block;  }
#placeh_36035886 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px;  }
#container_5545c291 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_5545c291_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_2e52056e { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_2e52056e_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:20pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle12 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic;  }
.textstyle13 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic;  }
#container_397e434b { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_397e434b_padding { margin: 10px; display: block;  }
#container_334a9c15 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_334a9c15_padding { margin: 10px; display: block;  }
#container_ce9811c { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_ce9811c_padding { margin: 10px; display: block;  }
#container_7e5cdcd { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_7e5cdcd_padding { margin: 10px; display: block;  }
#container_766ea345 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_766ea345_padding { margin: 10px; display: block;  }
#container_144d08a2 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_144d08a2_padding { margin: 10px; display: block;  }
#container_49ab8ec4 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_49ab8ec4_padding { margin: 10px; display: block;  }
#container_1625258f { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_1625258f_padding { margin: 10px; display: block;  }
#container_5fd15a29 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_5fd15a29_padding { margin: 10px; display: block;  }
#container_2d59430d { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_2d59430d_padding { margin: 10px; display: block;  }
#container_3865f351 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_3865f351_padding { margin: 10px; display: block;  }
#container_594c6e66 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_594c6e66_padding { margin: 10px; display: block;  }
#container_3618d30e { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_3618d30e_padding { margin: 10px; display: block;  }
#container_628f127b { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_628f127b_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#080808;  }
#container_4c287355 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_4c287355_padding { margin: 10px; display: block;  }
#container_502a3849 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_502a3849_padding { margin: 10px; display: block;  }
#container_3defd5da { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_3defd5da_padding { margin: 10px; display: block;  }
#container_64eb3673 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_64eb3673_padding { margin: 10px; display: block;  }
#container_43f3c25d { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_43f3c25d_padding { margin: 10px; display: block;  }
#container_1ab19497 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_1ab19497_padding { margin: 10px; display: block;  }
#container_21df2213 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_21df2213_padding { margin: 10px; display: block;  }
#container_27dbbd60 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_27dbbd60_padding { margin: 10px; display: block;  }
#container_17bcaa8a { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_17bcaa8a_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic; font-weight:bold;  }
#container_1b7a615c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#2C2825;  }
@media only screen and (max-width: 1000px)
{
		#button_39dc1fcb { display:inline-block;  }
		#menu_5f8bee95 { display:none; }
}
@media only screen and (max-width: 550px)
{
		#container_2b1a1ed5 * span { font-size:10pt;  }
		#button_39dc1fcb * span { font-size:12pt;  }
}
@media only screen and (max-width: 500px)
{
		#menu_5f8bee95 * span { font-size:12pt;  }
}
@media only screen and (max-width: 550px)
{
		#container_2e52056e * span { font-size:12pt;  }
		#container_397e434b * span { font-size:12pt;  }
		#container_334a9c15 * span { font-size:12pt;  }
		#container_ce9811c * span { font-size:12pt;  }
		#container_7e5cdcd * span { font-size:12pt;  }
		#container_594c6e66 * span { font-size:12pt;  }
		#container_64eb3673 * span { font-size:12pt;  }
}
