a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp22fd5893{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:hover{ color:#FFFFFF; text-decoration: none} 
#button_f1669e6 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_f1669e6:hover { background-color:#FEE556;  }
#button_f1669e6:hover span { color:#444444; }
#button_e09eb27 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_e09eb27:hover { background-color:#FEE556;  }
#button_e09eb27:hover span { color:#444444; }
#button_58c0db27 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_58c0db27:hover { background-color:#FEE556;  }
#button_58c0db27:hover span { color:#444444; }
#button_5ce0933f { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_5ce0933f:hover { background-color:#FEE556;  }
#button_5ce0933f:hover span { color:#444444; }
#button_40a3673a { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_40a3673a:hover { background-color:#FEE556;  }
#button_40a3673a:hover span { color:#444444; }
#button_6d574711 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_6d574711:hover { background-color:#FEE556;  }
#button_6d574711:hover span { color:#444444; }
#button_264dacea { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_264dacea:hover { background-color:#FEE556;  }
#button_264dacea:hover span { color:#444444; }
#button_5ed90dfb { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_5ed90dfb:hover { background-color:#FEE556;  }
#button_5ed90dfb:hover span { color:#444444; }
#button_4a140677 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_4a140677:hover { background-color:#FEE556;  }
#button_4a140677:hover span { color:#444444; }
#button_61d4b2bb { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_61d4b2bb:hover { background-color:#FEE556;  }
#button_61d4b2bb:hover span { color:#444444; }
#button_4b9730ab { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_4b9730ab:hover { background-color:#FEE556;  }
#button_4b9730ab:hover span { color:#444444; }
#button_39dc1fcb { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; float:left; margin:1px; width:150px; height:50px; max-width:40%; background-color:#FFFFFF;   display: none; }
#button_39dc1fcb:hover { background-color:#2C2825;  }
#button_39dc1fcb:hover span { color:#FFFFFF; }
#menu_5f8bee95 a { text-decoration: none; }
#menu_5f8bee95_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 15px; padding-bottom: 15px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5f8bee95_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_5f8bee95_entry { padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; }
#menu_5f8bee95_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5f8bee95_entry:hover span { color:#FFFFFF !important; }
		.menu_5f8bee95_mainMenuEntry { text-align: center; }
		.menu_5f8bee95_mainMenuEntry:hover {	background-color:#2C2825; }
		.menu_5f8bee95_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5f8bee95 .mobileEntry { display: none; } 
		#menu_5f8bee95 .normalEntry { display: block; } 
		#menu_5f8bee95_menualignmentwrapper{ width:950px; left: calc(50% - 475px);  } 
		@media only screen and (max-width:1000px) { 
			#menu_5f8bee95 .mobileEntry { display: block; } 
			#menu_5f8bee95 .normalEntry { display: none; } 
			#menu_5f8bee95_menualignmentwrapper { width:47px; left: calc(50% - 23px);  } 
		}
body { background-color:#ECECEC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_2b1a1ed5 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#2C2825;  }
#container_2b1a1ed5_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle3 { text-align:left; }
#container_4746e9ac { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  }
#menu_5f8bee95 { vertical-align: top; position:relative; display: inline-block; width:75%; height:50px; max-width:1440px; text-align:left; background-color:#FFFFFF;  }
#menu_5f8bee95_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:47px; height:50px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:202px; height:50px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle6 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  white-space: nowrap; }
.menustyle3 { position:absolute; width:151px; height:50px; left:202px;  }
.menustyle4 { position:absolute; width:225px; height:50px; left:353px;  }
.menustyle5 { position:absolute; width:134px; height:50px; left:578px;  }
.menustyle6 { position:absolute; width:83px; height:50px; left:712px;  }
.menustyle7 { position:absolute; width:155px; height:50px; left:795px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_495e96cc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background-color:#2C2825;  }
#container_495e96cc_padding { margin: 3px; display: block;  }
#container_7a5ef65 { vertical-align: top; position:relative; display: inline-block; width:90%; background:none;  border-top: 12px solid transparent; }
#container_7a5ef65_padding { margin: 10px; display: block;  }
#placeh_36035886 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px;  }
#container_6de072a3 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_6de072a3_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4b146150 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4b146150_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic;  }
#container_6627fe3f { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_6627fe3f_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:20pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle12 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle13 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic;  }
#container_17435cc4 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_17435cc4_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_5836ffdb { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_5836ffdb_padding { margin: 10px; display: block;  }
#container_4e07d171 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4e07d171_padding { margin: 10px; display: block;  }
#container_5013974f { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_5013974f_padding { margin: 10px; display: block;  }
#container_337997e9 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_337997e9_padding { margin: 10px; display: block;  }
#container_7b53b1ce { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_7b53b1ce_padding { margin: 10px; display: block;  }
#container_4350fc36 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4350fc36_padding { margin: 10px; display: block;  }
#container_6866131b { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_6866131b_padding { margin: 10px; display: block;  }
#container_42d65384 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_42d65384_padding { margin: 10px; display: block;  }
#container_c264c71 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_c264c71_padding { margin: 10px; display: block;  }
#container_f0421be { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#2C2825;  }
@media only screen and (max-width: 1000px)
{
		#button_39dc1fcb { display:inline-block;  }
		#menu_5f8bee95 { display:none; }
}
@media only screen and (max-width: 550px)
{
		#container_2b1a1ed5 * span { font-size:10pt;  }
		#button_39dc1fcb * span { font-size:12pt;  }
}
@media only screen and (max-width: 500px)
{
		#menu_5f8bee95 * span { font-size:12pt;  }
}
@media only screen and (max-width: 550px)
{
		#container_6627fe3f * span { font-size:12pt;  }
		#container_17435cc4 * span { font-size:12pt;  }
		#container_5836ffdb * span { font-size:12pt;  }
		#container_4e07d171 * span { font-size:12pt;  }
		#container_5013974f * span { font-size:12pt;  }
		#container_337997e9 * span { font-size:12pt;  }
		#container_7b53b1ce * span { font-size:12pt;  }
		#container_4350fc36 * span { font-size:12pt;  }
		#container_6866131b * span { font-size:12pt;  }
		#container_42d65384 * span { font-size:12pt;  }
		#container_c264c71 * span { font-size:12pt;  }
}
