a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp22fd5893{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:hover{ color:#FFFFFF; text-decoration: none} 
#button_39dc1fcb { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; float:left; margin:1px; width:150px; height:50px; max-width:40%; background-color:#FFFFFF;   display: none; }
#button_39dc1fcb:hover { background-color:#2C2825;  }
#button_39dc1fcb:hover span { color:#FFFFFF; }
#menu_5f8bee95 a { text-decoration: none; }
#menu_5f8bee95_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 15px; padding-bottom: 15px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5f8bee95_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_5f8bee95_entry { padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; }
#menu_5f8bee95_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5f8bee95_entry:hover span { color:#FFFFFF !important; }
		.menu_5f8bee95_mainMenuEntry { text-align: center; }
		.menu_5f8bee95_mainMenuEntry:hover {	background-color:#2C2825; }
		.menu_5f8bee95_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5f8bee95 .mobileEntry { display: none; } 
		#menu_5f8bee95 .normalEntry { display: block; } 
		#menu_5f8bee95_menualignmentwrapper{ width:950px; left: calc(50% - 475px);  } 
		@media only screen and (max-width:1000px) { 
			#menu_5f8bee95 .mobileEntry { display: block; } 
			#menu_5f8bee95 .normalEntry { display: none; } 
			#menu_5f8bee95_menualignmentwrapper { width:47px; left: calc(50% - 23px);  } 
		}
body { background-color:#ECECEC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_2b1a1ed5 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#2C2825;  }
#container_2b1a1ed5_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle3 { text-align:left; }
#container_4746e9ac { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  }
#menu_5f8bee95 { vertical-align: top; position:relative; display: inline-block; width:75%; height:50px; max-width:1440px; text-align:left; background-color:#FFFFFF;  }
#menu_5f8bee95_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:47px; height:50px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:202px; height:50px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle6 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  white-space: nowrap; }
.menustyle3 { position:absolute; width:151px; height:50px; left:202px;  }
.menustyle4 { position:absolute; width:225px; height:50px; left:353px;  }
.menustyle5 { position:absolute; width:134px; height:50px; left:578px;  }
.menustyle6 { position:absolute; width:83px; height:50px; left:712px;  }
.menustyle7 { position:absolute; width:155px; height:50px; left:795px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_495e96cc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background-color:#2C2825;  }
#container_495e96cc_padding { margin: 3px; display: block;  }
#container_7a5ef65 { vertical-align: top; position:relative; display: inline-block; width:90%; background:none;  border-top: 12px solid transparent; }
#container_7a5ef65_padding { margin: 10px; display: block;  }
#placeh_36035886 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px;  }
#container_4568ff1d { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4568ff1d_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#080808;  }
.textstyle9 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
#img_21a9efd8 { vertical-align: bottom; position:relative; display: inline-block; margin:5px; width:3%; min-width:30px; max-width:35px; background:none; height:auto;  }
#img_1b58f060 { vertical-align: bottom; position:relative; display: inline-block; margin:5px; width:3%; min-width:30px; max-width:35px; background:none; height:auto;  }
@media only screen and (max-width: 1000px)
{
		#button_39dc1fcb { display:inline-block;  }
		#menu_5f8bee95 { display:none; }
}
@media only screen and (max-width: 550px)
{
		#container_2b1a1ed5 * span { font-size:10pt;  }
		#button_39dc1fcb * span { font-size:12pt;  }
}
@media only screen and (max-width: 500px)
{
		#menu_5f8bee95 * span { font-size:12pt;  }
}
@media only screen and (max-width: 550px)
{
		#container_4568ff1d * span { font-size:12pt;  }
}
