a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp22fd5893{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:hover{ color:#FFFFFF; text-decoration: none} 
#button_39dc1fcb { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; float:left; margin:1px; width:150px; height:50px; max-width:40%; background-color:#FFFFFF;   display: none; }
#button_39dc1fcb:hover { background-color:#2C2825;  }
#button_39dc1fcb:hover span { color:#FFFFFF; }
#menu_5f8bee95 a { text-decoration: none; }
#menu_5f8bee95_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 15px; padding-bottom: 15px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5f8bee95_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_5f8bee95_entry { padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; }
#menu_5f8bee95_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5f8bee95_entry:hover span { color:#FFFFFF !important; }
		.menu_5f8bee95_mainMenuEntry { text-align: center; }
		.menu_5f8bee95_mainMenuEntry:hover {	background-color:#2C2825; }
		.menu_5f8bee95_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5f8bee95 .mobileEntry { display: none; } 
		#menu_5f8bee95 .normalEntry { display: block; } 
		#menu_5f8bee95_menualignmentwrapper{ width:950px; left: calc(50% - 475px);  } 
		@media only screen and (max-width:1000px) { 
			#menu_5f8bee95 .mobileEntry { display: block; } 
			#menu_5f8bee95 .normalEntry { display: none; } 
			#menu_5f8bee95_menualignmentwrapper { width:47px; left: calc(50% - 23px);  } 
		}
body { background-color:#ECECEC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_2b1a1ed5 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#2C2825;  }
#container_2b1a1ed5_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle3 { text-align:left; }
#container_4746e9ac { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  }
#menu_5f8bee95 { vertical-align: top; position:relative; display: inline-block; width:75%; height:50px; max-width:1440px; text-align:left; background-color:#FFFFFF;  }
#menu_5f8bee95_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:47px; height:50px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:202px; height:50px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle6 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  white-space: nowrap; }
.menustyle3 { position:absolute; width:151px; height:50px; left:202px;  }
.menustyle4 { position:absolute; width:225px; height:50px; left:353px;  }
.menustyle5 { position:absolute; width:134px; height:50px; left:578px;  }
.menustyle6 { position:absolute; width:83px; height:50px; left:712px;  }
.menustyle7 { position:absolute; width:155px; height:50px; left:795px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_495e96cc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background-color:#2C2825;  }
#container_495e96cc_padding { margin: 3px; display: block;  }
#container_7a5ef65 { vertical-align: top; position:relative; display: inline-block; width:90%; background:none;  border-top: 12px solid transparent; }
#container_7a5ef65_padding { margin: 10px; display: block;  }
#placeh_36035886 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px;  }
#container_70a9d3b { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_70a9d3b_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#container_557cf387 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:311px; background-color:#FFFFFF;  }
#container_557cf387_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:20pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle12 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
#container_46aa4cd8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:332px; background-color:#FFFFFF;  }
#container_46aa4cd8_padding { margin: 10px; display: block;  }
#container_5ae194a6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:332px; background-color:#FFFFFF;  }
#container_5ae194a6_padding { margin: 10px; display: block;  }
#container_4581182d { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4581182d_padding { margin: 10px; display: block;  }
#container_958acde { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_958acde_padding { margin: 10px; display: block;  }
#container_3892caa9 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_3892caa9_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic;  }
#container_672bb1f9 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_672bb1f9_padding { margin: 10px; display: block;  }
#container_66b3c1 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_66b3c1_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_7faacff0 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_7faacff0_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-style:italic;  }
#container_5e4e25f6 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_5e4e25f6_padding { margin: 10px; display: block;  }
#container_4cfe0456 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_4cfe0456_padding { margin: 10px; display: block;  }
#container_20d3edcd { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_20d3edcd_padding { margin: 10px; display: block;  }
#container_5369b8e2 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_5369b8e2_padding { margin: 10px; display: block;  }
#container_49e1f76c { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_49e1f76c_padding { margin: 10px; display: block;  }
#container_129759cf { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_129759cf_padding { margin: 10px; display: block;  }
#container_1a44ca89 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_1a44ca89_padding { margin: 10px; display: block;  }
#container_7917f30d { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_7917f30d_padding { margin: 10px; display: block;  }
#container_7c85ee78 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_7c85ee78_padding { margin: 10px; display: block;  }
#container_47a52391 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_47a52391_padding { margin: 10px; display: block;  }
#container_64cc4149 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_64cc4149_padding { margin: 10px; display: block;  }
#container_abd1113 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_abd1113_padding { margin: 10px; display: block;  }
#container_ea101d0 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_ea101d0_padding { margin: 10px; display: block;  }
#container_70cb83dd { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_70cb83dd_padding { margin: 10px; display: block;  }
#container_6cee6b5e { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#ECECEC;  }
#container_6cee6b5e_padding { margin: 10px; display: block;  }
#container_226d4505 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#2C2825;  }
@media only screen and (max-width: 1000px)
{
		#button_39dc1fcb { display:inline-block;  }
		#menu_5f8bee95 { display:none; }
}
@media only screen and (max-width: 550px)
{
		#container_2b1a1ed5 * span { font-size:10pt;  }
		#button_39dc1fcb * span { font-size:12pt;  }
}
@media only screen and (max-width: 500px)
{
		#menu_5f8bee95 * span { font-size:12pt;  }
}
@media only screen and (max-width: 550px)
{
		#container_557cf387 * span { font-size:12pt;  }
		#container_46aa4cd8 * span { font-size:12pt;  }
		#container_5ae194a6 * span { font-size:12pt;  }
		#container_4581182d * span { font-size:12pt;  }
		#container_958acde * span { font-size:12pt;  }
		#container_3892caa9 * span { font-size:12pt;  }
		#container_672bb1f9 * span { font-size:12pt;  }
		#container_66b3c1 * span { font-size:12pt;  }
		#container_7faacff0 * span { font-size:12pt;  }
		#container_5e4e25f6 * span { font-size:12pt;  }
		#container_4cfe0456 * span { font-size:12pt;  }
		#container_20d3edcd * span { font-size:12pt;  }
		#container_5369b8e2 * span { font-size:12pt;  }
		#container_49e1f76c * span { font-size:12pt;  }
		#container_129759cf * span { font-size:12pt;  }
		#container_1a44ca89 * span { font-size:12pt;  }
		#container_7917f30d * span { font-size:12pt;  }
		#container_7c85ee78 * span { font-size:12pt;  }
}
