a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp22fd5893{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp22fd5893:hover{ color:#FFFFFF; text-decoration: none} 
#button_2dbe653d { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_2dbe653d:hover { background-color:#FEE556;  }
#button_2dbe653d:hover span { color:#444444; }
#button_4fc9a1fa { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_4fc9a1fa:hover { background-color:#FEE556;  }
#button_4fc9a1fa:hover span { color:#444444; }
#button_36b3f34d { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_36b3f34d:hover { background-color:#FEE556;  }
#button_36b3f34d:hover span { color:#444444; }
#button_399b7fa3 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_399b7fa3:hover { background-color:#FEE556;  }
#button_399b7fa3:hover span { color:#444444; }
#button_50d2134c { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_50d2134c:hover { background-color:#FEE556;  }
#button_50d2134c:hover span { color:#444444; }
#button_4e9de8a { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_4e9de8a:hover { background-color:#FEE556;  }
#button_4e9de8a:hover span { color:#444444; }
#button_7ff39274 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_7ff39274:hover { background-color:#FEE556;  }
#button_7ff39274:hover span { color:#444444; }
#button_6b004a29 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_6b004a29:hover { background-color:#FEE556;  }
#button_6b004a29:hover span { color:#444444; }
#button_4379b9a1 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_4379b9a1:hover { background-color:#FEE556;  }
#button_4379b9a1:hover span { color:#444444; }
#button_2d9be828 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_2d9be828:hover { background-color:#FEE556;  }
#button_2d9be828:hover span { color:#444444; }
#button_42040aa7 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_42040aa7:hover { background-color:#FEE556;  }
#button_42040aa7:hover span { color:#444444; }
#button_49a178dc { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_49a178dc:hover { background-color:#FEE556;  }
#button_49a178dc:hover span { color:#444444; }
#button_4a0cb2b5 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_4a0cb2b5:hover { background-color:#FEE556;  }
#button_4a0cb2b5:hover span { color:#444444; }
#button_1fd5a95c { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_1fd5a95c:hover { background-color:#FEE556;  }
#button_1fd5a95c:hover span { color:#444444; }
#button_426106e9 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; margin:1px; width:90px; height:30px; max-width:25%; background-color:#E5B340;  }
#button_426106e9:hover { background-color:#FEE556;  }
#button_426106e9:hover span { color:#444444; }
#button_39dc1fcb { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; float:left; margin:1px; width:150px; height:50px; max-width:40%; background-color:#FFFFFF;   display: none; }
#button_39dc1fcb:hover { background-color:#2C2825;  }
#button_39dc1fcb:hover span { color:#FFFFFF; }
#menu_5f8bee95 a { text-decoration: none; }
#menu_5f8bee95_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 15px; padding-bottom: 15px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5f8bee95_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_5f8bee95_entry { padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px; }
#menu_5f8bee95_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5f8bee95_entry:hover span { color:#FFFFFF !important; }
		.menu_5f8bee95_mainMenuEntry { text-align: center; }
		.menu_5f8bee95_mainMenuEntry:hover {	background-color:#2C2825; }
		.menu_5f8bee95_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5f8bee95 .mobileEntry { display: none; } 
		#menu_5f8bee95 .normalEntry { display: block; } 
		#menu_5f8bee95_menualignmentwrapper{ width:950px; left: calc(50% - 475px);  } 
		@media only screen and (max-width:1000px) { 
			#menu_5f8bee95 .mobileEntry { display: block; } 
			#menu_5f8bee95 .normalEntry { display: none; } 
			#menu_5f8bee95_menualignmentwrapper { width:47px; left: calc(50% - 23px);  } 
		}
body { background-color:#ECECEC; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_2b1a1ed5 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#2C2825;  }
#container_2b1a1ed5_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle3 { text-align:left; }
#container_4746e9ac { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  }
#menu_5f8bee95 { vertical-align: top; position:relative; display: inline-block; width:75%; height:50px; max-width:1440px; text-align:left; background-color:#FFFFFF;  }
#menu_5f8bee95_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:47px; height:50px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:202px; height:50px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle6 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2C2825;  white-space: nowrap; }
.menustyle3 { position:absolute; width:151px; height:50px; left:202px;  }
.menustyle4 { position:absolute; width:225px; height:50px; left:353px;  }
.menustyle5 { position:absolute; width:134px; height:50px; left:578px;  }
.menustyle6 { position:absolute; width:83px; height:50px; left:712px;  }
.menustyle7 { position:absolute; width:155px; height:50px; left:795px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_495e96cc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1px; background-color:#2C2825;  }
#container_495e96cc_padding { margin: 3px; display: block;  }
#container_7a5ef65 { vertical-align: top; position:relative; display: inline-block; width:90%; background:none;  border-top: 12px solid transparent; }
#container_7a5ef65_padding { margin: 10px; display: block;  }
#placeh_36035886 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:50px;  }
#container_63748a78 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_63748a78_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_404d3594 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_404d3594_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:20pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
.textstyle12 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic;  }
#container_59bd1f0 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_59bd1f0_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-style:italic; font-weight:bold;  }
#container_1273c1a3 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_1273c1a3_padding { margin: 10px; display: block;  }
#container_70d2183e { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_70d2183e_padding { margin: 10px; display: block;  }
#container_73b336a8 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_73b336a8_padding { margin: 10px; display: block;  }
#container_41a4bb63 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_41a4bb63_padding { margin: 10px; display: block;  }
#container_3a0c951b { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_3a0c951b_padding { margin: 10px; display: block;  }
#container_2bee46c2 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_2bee46c2_padding { margin: 10px; display: block;  }
#container_346b3a67 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_346b3a67_padding { margin: 10px; display: block;  }
#container_14bfb714 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_14bfb714_padding { margin: 10px; display: block;  }
#container_50159793 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_50159793_padding { margin: 10px; display: block;  }
#container_2b48b92 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_2b48b92_padding { margin: 10px; display: block;  }
#container_3298682a { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_3298682a_padding { margin: 10px; display: block;  }
#container_58f1f0bc { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_58f1f0bc_padding { margin: 10px; display: block;  }
#container_380148c7 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_380148c7_padding { margin: 10px; display: block;  }
#container_281fe99 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#2C2825;  }
@media only screen and (max-width: 1000px)
{
		#button_39dc1fcb { display:inline-block;  }
		#menu_5f8bee95 { display:none; }
}
@media only screen and (max-width: 550px)
{
		#container_2b1a1ed5 * span { font-size:10pt;  }
		#button_39dc1fcb * span { font-size:12pt;  }
}
@media only screen and (max-width: 500px)
{
		#menu_5f8bee95 * span { font-size:12pt;  }
}
@media only screen and (max-width: 550px)
{
		#container_404d3594 * span { font-size:12pt;  }
		#container_59bd1f0 * span { font-size:12pt;  }
		#container_1273c1a3 * span { font-size:12pt;  }
		#container_70d2183e * span { font-size:12pt;  }
		#container_73b336a8 * span { font-size:12pt;  }
		#container_41a4bb63 * span { font-size:12pt;  }
		#container_3a0c951b * span { font-size:12pt;  }
		#container_2bee46c2 * span { font-size:12pt;  }
		#container_346b3a67 * span { font-size:12pt;  }
		#container_14bfb714 * span { font-size:12pt;  }
		#container_50159793 * span { font-size:12pt;  }
		#container_2b48b92 * span { font-size:12pt;  }
		#container_3298682a * span { font-size:12pt;  }
		#container_58f1f0bc * span { font-size:12pt;  }
		#container_380148c7 * span { font-size:12pt;  }
}
